[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pafy = "==0.5.4"
python-vlc = "==3.0.102"
SpeechRecognition = "==3.6.1"
wikipedia = "*"
youtube-dl = "*"
"pywin32" = "*"
pyaudio = "*"
gtts = "*"

[dev-packages]

[requires]
python_version = "3.6"
